body {
    background-color: black;
}

.ship {
    width: 100px;
    height: 100px;
    background-color: greenyellow;
    position: fixed;
}

.laser{
    // position: 'absolute';
    width: 10px;
    height: 10px;
    background-color: red;
}

.alien {
    width: 100px;
    height: 100px;
    background-color: greenyellow;
    position: fixed;
}

.score {
    position: absolute;
    margin-top: 10px;
    left: calc(50% - 200px);
    font-size: 40px;
    color: white;
    width: auto;
    height: 40px;
}